/* FONTS ========================================================================== */
  @charset "UTF-8";

  @font-face {
    font-family: 'RenaGrotesk-Regular';
    src: url("../fonts/RenaGrotesk-Regular.woff");
    src: url("../fonts/RenaGrotesk-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'RenaGrotesk-Extended';
    src: url("../fonts/RenaGrotesk-Extended.woff");
    src: url("../fonts/RenaGrotesk-Extended.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

/* VARIABLES ========================================================================== */

  /* Colors */
  $color0: #000;
  $color1: #e3001f;
  $color2: grey;
  $color3: #fff;

  /* Breakpoints */
  @mixin breakpoint($point) {
    @if $point == mobile {
      @media (max-width: 768px) { @content; }
    }
  }

  /* Fonts */
  $font1: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  $font2: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;

/* MIXINS ========================================================================== */

  @mixin font-size-1 {
    font-size:    1rem;
    line-height:  1.42rem;
    letter-spacing: 0rem;
  }

  @mixin font-size-2 {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.012em;
  }

  @mixin font-style-1 {
    font-family: $font1;
    text-align: left;
    text-decoration: none;
    /* improve text rendering */
    /* word-break (may look odd) */
    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    -webkit-hyphenate-limit-chars: 8;
    -ms-hyphenate-limit-chars: 8;
    hyphenate-limit-chars: 8; // auto 5

    -webkit-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;

    font-weight: normal;
    font-style: normal;
    font-feature-settings:"kern" 1;
    font-kerning: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    /*text-rendering: optimizeLegibility;*/
    -webkit-text-size-adjust: 100%;
  }

  @mixin font-style-2 {
    @include font-style-1;
    font-family: $font2;
  }

  @mixin transition($property) {
    -webkit-transition: $property .2s ease-in-out;
    -moz-transition: $property .2s ease-in-out;
    -o-transition: $property .2s ease-in-out;
    transition: $property .2s ease-in-out;
  }

  @mixin noHyphens {
    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    hyphens: none !important;
    word-break: keep-all !important;
  }

  @mixin noTransition($property) {
    -webkit-transition: $property 0s linear;
    -moz-transition: $property 0s linear;
    -o-transition: $property 0s linear;
    transition: $property 0s linear;
  }

/* GENERAL & RESETING ========================================================================== */

  html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    @include font-style-1;
  }

  html, body {
    font-size: 19px;
    line-height: 27px;
    color: $color0;
  }

  ol, ul, li {
    list-style: none;
    display: block;
  }

  a {
    cursor: pointer;
    color: $color0;
    text-decoration: none;

    &:hover, &:active, &.active {
      @include font-style-2;
    }
    &.a-intern::before {
      content: "\2192";
    }
    &.a-extern::after {
      content: "\2197";
    }

    &.a-intern:hover, &.a-extern:hover {
      /*border-bottom: 1px solid white;*/
      text-decoration: underline;
      font-family: RenaGrotesk-Regular, sans-serif;
    }
  }

  p {
    padding: 0px;
    margin: 0px;
    min-width: 100px;
    max-width: 1000px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
      @include breakpoint(mobile) {
        width:     auto;
        min-width: none;
        max-width: none;
      }

    &::-moz-selection {
      color: $color1;
      background-color: transparent;
    }
    &::selection {
      color: $color1;
      background-color: transparent;
    }
  }

  *::-moz-selection {
    color: $color0;
    background-color: transparent;
  }

  *::selection {
    color: $color0;
    background-color: transparent;
  }

  *:focus {
    outline: 0;
  }

  table, tr, th, td, table ol, table li {
    min-width: 1.4rem;
    vertical-align: top;
    border-collapse: collapse;
    /*white-space: nowrap;*/
    overflow: visible;
  }

  figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
  }

/* SUPER HELPERS ========================================================================== */

  .hidden {
    display: none
  }

  .active {
    &>a.key-icon {
      display: block;
      visibility: visible;
    }
    &>a.key-icon::after {
      content: "\E001";
    }
    &>a {
      @include font-style-2;
    }
  }

/* TYPOGRAPHIC ELEMENTS ========================================================================== */

  h1, h2 {
    @include noHyphens;
    @include font-style-2;
    word-break: normal;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    @include breakpoint(mobile) {
      @include font-size-1;
    }
  }

  h1 {
    hyphen: none;
    font-size: 95px;
    line-height: 90px;
    letter-spacing: -0.04em;
    @include breakpoint(mobile) {
      @include font-size-1;
    }
  }

  h2 {
    margin-top: 115px
  }

  .intro-quote p, .intro-nav *, .i-intro *, .question-title * {
    @include font-size-2;
    @include breakpoint(mobile) {
      @include font-size-1;
    }
  }

  em, .extended, .active {
    @include font-style-2;
  }

/* TITLE BANNER / MARQUEE ========================================================================== */
  .marquee {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 400;
    display: block;
    width: 100vh;
    height: 10vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: $color1;
    transform-origin: 0% 100%;
    transform: rotate(270deg) translate(0, 100vh);
    white-space: nowrap;
    @include breakpoint(mobile) {
      display: none;
    }

    p {
      line-height: 7.5vw;
      font-size: 102px;
      @include font-style-2;
      display: inline-block;
      padding: 0 5px;
      position: relative;
      width: auto;
      height: auto;
      text-align: center;
      transform: translateX(0%);
      /* starting position */
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-user-select: none;/* Safari */
      -moz-user-select: none;/* Firefox */
      -ms-user-select: none;/* IE10+/Edge */
      user-select: none;/* Standard */
    }
  }

/* SEPARATOR ========================================================================== */
  #separator {
    cursor: pointer;
    width: 200vw;
    height: 200vh;
    padding: 50vh 50vw;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    top: -50vh;
    left: -50vw;
    z-index: 200;
    display: block;
    &.hidden {
      display: none;
    }
    a.key-icon {
      width: 10vw;
      /*padding: 0 1vw;
      margin: auto;*/
      @include breakpoint(mobile) {
        visibility: visible;
        position: relative;
        padding: 3vw;
      }
    }
  }

/* CLOSE AND OPEN ICONS ========================================================================== */
  a.key-icon {
    text-align: center;
    @include font-size-2;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    display: none;

    @include breakpoint(mobile) {
      @include font-size-1;
      display:block;
    }
    &::after {
      content: "​\E000";
    }
    &.active {
      display:block;
      visibility: visible;
    }
    &.active::after {
      content: "\E001";
    }
  }

  *:hover>a.key-icon {
    visibility: visible;
    display: block;
  }

/* OVERLAYS ========================================================================== */
.overlay {
  display: block;
  /* change to block later */
  width: 90vw;
  height: 100vh;
  background: $color1;
  margin: 0 0 1rem 0;
  padding: 0 10vw 0 2vw;
  position: fixed;
  left: 10vw;
  top: 0;
  z-index: 300;

  color: $color3;

  overflow-y: scroll;
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);

  @include transition( all );
  @include breakpoint(mobile) {
    display: block; /* change to block later */
    min-height: 75vh;
    width: 100vw;
    padding: 10vh 2vw 2vh 2vw;
    margin: 0 0 0 0;
    position: fixed;
    left:0;
    top:0;
  }

  &.hidden {
    left: 100vw;
    @include breakpoint(mobile) {
      overflow: hidden;
      bottom:   100vh;
      left:     auto;
      top:      auto;
      right:    auto;
    }
  }

  a {
    color: $color3;
  }
}

.intro-container {
  z-index: 330;
}

.about-container, .interview-container {
  padding-right: 40vw;
  &>*:last-child {
    margin-bottom: 25vh;
  }
  h1 {
    margin-bottom: 50px;
  }
}

.about-container {
  z-index: 320;
  background: $color2;
}

.interview-container {
  z-index: 310;
}


/* INTRO ========================================================================== */
.intro-quote {
  h1 {
    &::after {
      content: "\00AB";/* inserts glyph after anchor" */
    }
      &::before {
      content: "\00BB";/* inserts glyph before anchor" */
    }
  }
  p {
    margin-top: 1rem;
  }
}

.intro-nav {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 35px;
  @include breakpoint(mobile) {
    display: none;
  }
  li {
    margin-top: 18px;
  }
  &.sticky {
    position: absolute;
    bottom: 0;
    max-width: 70vw;
  }
}

.intro-nav a::before, a.interviewee-title::before {
  content: "\2192";
  /* inserts rightwards arrow before anchor" */
}

/* ABOUT ========================================================================== */
.network-list {
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  li {
    margin-top: 27px;
  }
}
/* INTERVIEW ========================================================================== */
.i-answer {
  margin-bottom: 1rem;
}

.i-intro {
  margin-bottom: 110px;
}

.i-question p {
  @include font-style-2;
  display: inline;
  /* "inline"= vorfrage und frage stehen direkt hintereinander */
}

/* MAIN LAYER: LAYOUT ========================================================================== */
.flex-container {
  width: 100vw;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
}

.flex-item {
  display: block;
  border: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: auto;
  max-height: 100vh;
  width: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  @include transition( all );
  @include breakpoint(mobile) {
    padding: 10vh 0 0 0;
    position: fixed;
  }
}

#content-frame.flex-item {
  width: 80vw;
  z-index: 90;
  @include breakpoint(mobile) {
    width: 100vw;
  }
}

#content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

/* MAIN LAYER: NAVIGATION ========================================================================== */

.nav-container {
  width: 20vw;
  min-width: 225px;
  z-index: 100;
  @include transition( all );
  @include breakpoint(mobile) {
    padding: 0;
    top:  0;
    left: 0;
    width: 100vw;
    background: $color2;
    z-index: 400;
  }

  * { @include transition( all ); }

  ul.nav {
    width: 45vw; /* must be wider to hide scrollbar */
    padding: 0px 11vw 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 100vh;
    @include breakpoint(mobile) {
      width: auto;
      padding: 0;
      height: 10vh;
      overflow: hidden;
    }

    li {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 7px 0px;
      position: relative;
      display: block;
      width: 19vw;
      min-width: 220px;
      max-width: 1000px;
      @include breakpoint(mobile) {
        margin: 0px;
        padding: 0px;
        width: 100vw;
        min-width: none;
        max-width: none;
      }

      &.nav-mobile-header {
        margin: 0;
        padding: 0;
        display: none;
        background: $color1;
        @include breakpoint(mobile) {
          display: block;
        }
      }

      #topics-button {
        margin-top: 12px;
        @include breakpoint(mobile) {
          display: none;
        }
      }

      #questions-button, #interviews-button {
        &.active {
          border-bottom: 1px solid $color0;
          margin-bottom: -1px;
          background: $color3;
          /* STICKY-CODE */
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 100;
          @include breakpoint(mobile) {
            position: relative;
            top: auto;
            background: $color2;
          }
        }
      }

      .nav-button {
        display: block;

        &.active, &:hover {
          a {
            @include font-style-2;
            &.key-icon {
              display:block;
            }
          }
        }

        a.key-icon {
          padding: 0;
          margin-right: 0px;
          right: 0;
          top: 15px;
          margin-top: -15px;
          z-index: 110;
          @include breakpoint(mobile) {
            display:block;
          }
        }

        a.button-title {
          @include font-size-2;
          padding: 0 0 12px .6em;
          margin: 0px 0px 0px 0px;
          display: block;
          cursor: pointer;
          @include breakpoint(mobile) {
            margin: 0px;
            padding: 0 2vw;
            height: 10vh;
            @include font-size-1;
          }
        }
      }

      /* === NAV-SUB START === */
      .sub {
        display: none;
        position: relative;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        overflow-x: visible;
        width: 100%;
        height: auto;
        @include transition( height );
        @include breakpoint(mobile) {
          width: auto;
          max-width:none;
        }

        * {
          max-width: 35vw;
          @include breakpoint(mobile) {
            width:     auto;
            max-width: 96vw;
          }
        }

        a {
          display: block;
          @include noHyphens;
          /*
          max-width: 82%;
          */
          @include breakpoint(mobile) {
            width:     auto;
            min-width: none;
            max-width: none;
          }
        }

        & > ul {
          padding: 12px 0 0 2vw;
          overflow-x: visible;
          flex-wrap: wrap;
          display: flex;
          position: relative;
          width: 34vw;
          @include breakpoint(mobile) {
            padding:    0;
            width:      100%;
            max-width:  none;
          }

          & > li {
            @include noTransition(padding);
            padding: 0px 18% 0px 0px;
            margin: 0px 0px 17px 2vw;
            display: block;
            position: relative;
            min-width: 27px;
            width: 31vw;
            @include breakpoint(mobile) {
              width:     auto;
              min-width: none;
              max-width: none;
            }

            &:hover {
              padding: 0;
              a {
                max-width: 100%;
                @include font-style-2;
                @include breakpoint(mobile) {
                  width:     auto;
                  min-width: none;
                  max-width: none;
                }
              }
              &::before {
                content: "\2192";
                position: absolute;
                left: -22px;
                background: white;
              }
            }

            &.register-mark {
              width: 2vw;
              padding: 0px 0px 0px 0px;
              margin: 0px 0px 0px 0px;
              @include breakpoint(mobile) {
                width:     100%;
                min-width: none;
                max-width: none;
              }
              &::before {
                content: "";
                display: none;
              }
            }

            &.register-mark + li {
              margin-top: -27px;
              @include breakpoint(mobile) {margin-top: 0;}
            }
          }
        }
      }
      /* === NAV-SUB END === */
    }

    li.nav-spacer {
      margin-top: -280px;
      margin-bottom: 100vh;
      height: 0;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -o-transition: all 0s;
      transition: all 0s;
      @include breakpoint(mobile) {display: none;}
    }
  }
}


/* NAV-MODE ========================================================================== */

  .nav-mode {
    .nav-container {
      width: auto;

      ul.nav {
        li {
          /*overflow: auto;*/
          width: 35vw;
          min-width: 220px;
          max-width: 1000px;
          @include breakpoint(mobile) {
            margin: 0px;
            padding: 0px;
            width: auto;
            max-width: 96vw;
          }
        }
        li.nav-spacer {
          transition-delay: 0.7s;
          height: 0vh;
          margin: 0;
        }
      }
    }
  }



/* MAIN LAYER: CONTENT ========================================================================== */
#content {
  width: 80vw;
  padding: 0px 10vw 0px 0px;
  margin: 0px 0px 0px 0px;
  @include breakpoint(mobile) {
    width: 100vw;
    padding: 0px 0px 0px;
    width:     auto;
    min-width: none;
    max-width: none;
  }
}

.topic-list {
  padding: 0px 0px 50vh 0px;
  margin: 0px 0px 0px 0px;
}

.topic-item {
  /*padding: 13px 0px 0px 0px;*/
  margin: 0px 0px 0px 0px;
}

.topic-item.active + .topic-item {
  padding-top: 13px;
  margin: 0px 0px 0px 0px;
}

.topic-title, .question-title {
  display: block;
  position: relative;
  white-space: normal;
  background: $color3;
  cursor: pointer;
  padding-right: 42px;
  @include noHyphens;
  @include breakpoint(mobile) {
    padding: 2vh 4vw;
  }
  &:hover a {
    @include font-style-2;
  }
  a.key-icon {
    margin-right: 1vw;
    right: 0;
  }
  &.active a {
    @include font-style-2;
  }
}

.topic-title {
  padding-top: 42px;
  padding-bottom: 22px;
  @include breakpoint(mobile) {
    padding: 2vh 4vw;
  }
  a:first-child {
    hyphens: none;
    word-break: keep-all;
    font-size: 95px;
    line-height: 0px;
    letter-spacing: -.03em;
    padding-bottom: 2px;
    @include breakpoint(mobile) {
      @include font-size-1;
    }
  }
}

.question-list, .answer-list {
  border-bottom: 1px solid $color0;
  border-top: 1px solid $color0;
  width: 100%;
    @include breakpoint(mobile) {
      width:     auto;
      min-width: none;
      max-width: none;
    }
}

.question-list {
  padding: 13px 0px 17px 0px;
  margin: 0px 0px 0px 0px;
}

.question-item {
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.question-item.active + .question-item {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.question-title {
  padding: 5px 0px 12px 0px;
  margin: 0px 0px 0px 0px;
  @include breakpoint(mobile) {
    padding: 2vh 4vw;
  }

  a:first-child {
    max-width: 53vw;
    display: block;
    @include breakpoint(mobile) {
      width:     auto;
      min-width: none;
      max-width: none;
    }
  }

  &:hover a:first-child, &.active a:first-child {
    max-width: 66vw;
    @include breakpoint(mobile) {
      width:     auto;
      min-width: none;
      max-width: none;
    }
  }
}

.answer-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

li.question-item:last-child .answer-list {
  border-bottom: 0px;
}

.answer-item {
  margin: 33px 0px 0px 0px;
  width: 60vw;
  min-width: 480px;
  max-width: 700px;
  @include breakpoint(mobile) {
    padding: 2vh 2vw;
    margin: 0 0 0 0;
    width:     auto;
    min-width: none;
    max-width: none;
  }
}

.answer-item:last-of-type {
  margin-bottom: 49px;
}

a.interviewee-title {
  /*display: inline-block;*/
  margin: 0px 0px 0px 0px;
  @include font-style-2;
}

/* STICKINESS MAIN WRAPPER AND NAV WRAPPER ========================================================================== */
.active>.topic-title, .active>.question-title, #questions-button.active, #interviews-button.active {
  border-bottom: 1px solid $color0;
  margin-bottom: -1px;
  background: $color3;
  /* STICKY-CODE */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  @include breakpoint(mobile) {
    position: relative;
    top: auto;
    background: $color2;
  }
}
.active>.question-title {
  top: 111px;
}


/* TESTING CLASS ========================================================================== */
.debug {
  /* for testing only */
  background: green;
  color: red;
}

/* ASIDE INFO AND PREVIEW CONTAINER ========================================================================== */
.aside-info, .preview {
  display: block;
  position: fixed;
  top: 0;
  left: 64vw;
  z-index: 100;
  width: 24vw;
  min-width: 120px;
  max-width: 600px;
  padding: 0;
  margin: 0;
  @include breakpoint(mobile) {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: none;
    max-width: none;
    height: auto;
    overflow: visible;
  }

  figure {
    width: 30vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 19px 6vw 0 0;
    @include breakpoint(mobile) {
      width:     auto;
      min-width: none;
      max-width: none;
    }
  }

  figure>*:last-child {
    padding-bottom: 1rem;
  }

  .aside-image {
    max-width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include breakpoint(mobile) {
      margin-left: -2vw;
      max-height: 50vh;
      width:     auto;
      min-width: none;
      max-width: none;
    }
  }

  .aside-image img {
    max-width: 100%;
    @include breakpoint(mobile) {
      width:     auto;
      min-width: none;
      max-width: none;
    }
  }

  li:first-child, li:last-child {
    margin-top: 1rem;
  }

}

.preview figure {
  display: none;
}

.hidden .aside-info {
  display: none;
}



/* SCROLLBAR ========================================================================== */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}



/* MOBILE NAV HEADER ========================================================================== */

.nav-mobile-header, .nav-mobile-header * {
  margin: 0;
  padding: 0;
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}

.nav-mobile-icon {
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  @include transition( all );
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $color0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition( all );
  }

  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: 18px;
  }
  span:nth-child(4) {
    top: 36px;
  }

  &.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}



