@charset "UTF-8";

/* =====  1 Global Rules & Definitions  ===================================== */
/* -----  1.1 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: #71efac;
  color: #261e66;
}

::selection {
  background: #71efac;
  color: #261e66;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5rem;
}

h1 {
    font-size: 2em;
}

body {
    font-family: sans-serif;

    margin-left: 20px;
    margin-top: 15px;
}

main {
    margin-bottom: 480px;
}

footer {
    text-align: center;
}

aside {
    width: 240px;
    margin-right: 2vw;

    float: left;
}

article {
    float: left;
    width: 600px;
}
