@media only screen and (max-width: 768px) {

  *, html, body {
    font-size: 19px;
    line-height: 27px;
  }

  h1 {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0em;
  }

  .topic-title a {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0em;
  }

  .marquee p, .marquee a {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0em;
    font-family: RenaGrotesk-Extended, sans-serif;
  }



  .intro-quote p, .intro-nav *, .i-intro *, #nav>ul>li>a, .question-title * {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0em;
  }

  .extended  {
    font-family: RenaGrotesk-Extended, sans-serif;
  }

/* GENERAL & RESETING ========================================================================== */

  *, html, body {
  }

  body {
  }

  ol, ul, li {
  }

  a {
  }
  a:hover, a:active, a.active, .active {
  }

  p {
  }

  h1 {
  }

  table, tr, th, td, table ol, table li {
  }

  figure {
  }

/* TITLE BANNER ========================================================================== */

  .marquee {
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: none;
    padding: 0;
  }

  .marquee p {
    display: block;
    padding: 2vh 2vw 2vh 2vw;
    position: relative;
    text-align: left;
    transform:none; /* starting position */
  }

  .marquee a {
    padding:  2vh 2vw;
  }

/* SEPARATOR ========================================================================== */

  #separator {
  }

/* CLOSE AND OPEN ICONS ========================================================================== */

  a.key-icon {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0em;
    display:block;
  }

  #separator a.key-icon {
    visibility: visible;
    display: block;
  }

  #nav a.key-icon {
    display:block;
  }

  #nav li:hover a.key-icon, *:hover>a.key-icon {
    display:block;
  }

  .topic-title a.key-icon {
  }

  .question-title a.key-icon {
  }


/* OVERLAYS ========================================================================== */

  .overlay {
    display: block; /* change to block later */
    width: 100vw;
    height: 95vh;
    padding: 10vh 2vw 2vh 2vw;
    margin: 0 0 0 0;
    position: fixed;
    left:0;
    top:0;
  }

  .overlay.hidden {
    top: -100vh;
    left: 0;
  }

  .intro-container {
  }

  .about-container {
  }

  .interview-container {
  }

  #intro-content {
  }

  #interview-content {
  }

  #about-content h1, #interview-content h1 {
  }

  #about-content, #interview-content {
    max-width: none;
  }

  .overlay, .overlay a {
  }

/* INTRO ========================================================================== */

  .intro-quote * {
  }

  .intro-quote p {
  }

  .intro-nav {
    display: none;
  }

  .intro-nav li {
  }

/* ABOUT ========================================================================== */

  .network-list {
  }

  .about-container h2 {
  }

  .network-list li {
  }

/* INTERVIEW ========================================================================== */

  .i-answer {
  }

  .i-intro {
  }

  .i-question p {
  }

/* MAIN LAYER: LAYOUT ========================================================================== */

  .flex-container {
  }
  .flex-item {
  }
  #nav-frame.flex-item{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
  }
  #content-frame.flex-item{
    width: 100vw;
    z-index: 90;
    padding: 10vh 0 0 0;
  }
  #main-wrapper.nav-mode{
  }
  .nav-mode>#nav-frame{
  }

/* MAIN LAYER: NAVIGATION ========================================================================== */

  .nav {
    height: auto;
    width: 100vw;
    padding: 10vh 0 0 0;
    margin: 0px;
    background: grey;
  }

  .nav>ul {
    margin: 0px;
    padding: 0px;
  }

  .nav>ul>li {
    margin: 0px;
    padding: 2vh 2vw;
    width: 50vw;
    max-width: none;
  }

  .nav-mode>#nav-frame>#nav>ul>li {
    margin: 0px;
    padding: 0px;
  }

  .nav a {
    margin: 0px;
    padding: 0px;
  }

  .nav>ul>li.nav-topics {
    margin: 0px;
    display: none;
  }

  .nav>ul>li.nav-spacer {
    margin: 0px;
    padding: 0px;
  }

  .nav-mode .nav>ul>li.nav-spacer {
    margin: 0px;
    padding: 0px;
  }

  .nav>ul>li.nav-about {
    margin: inherit;
    padding: inherit;
  }

  .nav-mode .nav>ul>li.nav-about {
    margin: 0px;
  }

  .nav>ul>li>a {
    margin: 0px;
    padding: 0px;
  }

  /* === NAV-SUB === */

  .sub {
  }

  .sub * {
  }

  .sub ul, .sub li, .sub a {
  }

  .sub>ul {
  }

  .sub>ul>li {
  }

  .sub .register-mark {
  }

  .sub .nav-question {
  }

  .sub .register-mark + li {
  }

  .sub a {
  }

  .sub a:hover {
  }

/* MAIN LAYER: CONTENT ========================================================================== */

  #content {
    width: 100vw;
    padding: 0px 0px 0px;
  }

  .topic-list {
  }

  .topic-item {
  }

  .topic-item.active + .topic-item {
  }

  .topic-title, .question-title {
  }

  .topic-title {
    padding: 2vh 2vw;
  }

  .question-list, .answer-list {
  }

  .question-list {
  }

  .question-item {
  }

  .question-item.active + .question-item {
  }

  .question-title {
    padding: 2vh 2vw;
  }

  .question-title a:first-child {
    max-width: 66vw;
  }
  .question-title a:first-child:hover, .question-title a:first-child.active {
    max-width: 86vw;
  }

  .answer-list {
  }

  li.question-item:last-child .answer-list {
  }

  .answer-item {
    padding: 2vh 2vw;
    margin: 0 0 0 0;
    max-width: none;
  }
  .answer-item:last-of-type {
  }

  a.interviewee-title {
  }

/* STICKINESS MAIN WRAPPER AND NAV WRAPPER ========================================================================== */

  .topic-item.active>.topic-title, .question-item.active>.question-title, #questions-button.active, #interviews-button.active  {
    position: relative;
    top: auto;
  }

  .topic-item.active>.topic-title {
    position: relative;
    top: auto;
  }

  .question-item.active>.question-title {
    position: relative;
    top: auto;
  }

/* ASIDE INFO AND PREVIEW CONTAINER ========================================================================== */

  .aside-info, .preview {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: none;
    max-width: none;
    height: auto;
    overflow: visible;
  }

  .aside-image {
    overflow: hidden;
    width: 100vw;
    margin-left: -2vw;
    max-height: 50vh;
  }

  .aside-image img {
  }

  .aside-info figcaption {
    display: none;
  }

  .hidden .aside-info {
  }

  .aside-info li:first-child, .aside-info li:last-child  {
  }

}