@charset "UTF-8";
/* FONTS ========================================================================== */
@font-face {
  font-family: 'RenaGrotesk-Regular';
  src: url("../fonts/RenaGrotesk-Regular.woff");
  src: url("../fonts/RenaGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'RenaGrotesk-Extended';
  src: url("../fonts/RenaGrotesk-Extended.woff");
  src: url("../fonts/RenaGrotesk-Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* VARIABLES ========================================================================== */
/* Colors */
/* Breakpoints */
/* Fonts */
/* FONT-SIZES ========================================================================== */
h1 {
  font-size: 95px;
  line-height: 90px;
  letter-spacing: -0.04em;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  /* word-break (may look odd) */
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 5;
  -ms-hyphenate-limit-chars: auto 5;
  hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 3;
  -ms-hyphenate-limit-lines: 3;
  hyphenate-limit-lines: 3;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
    line-height: 1.42rem;
    letter-spacing: 0rem;
  }
}

.topic-title a {
  font-size: 95px;
  line-height: 0px;
  /* adjust distance from top while sticky here */
  letter-spacing: -.03em;
  padding-bottom: 2px;
}

@media (max-width: 768px) {
  .topic-title a {
    font-size: 1rem;
    line-height: 1.42rem;
    letter-spacing: 0rem;
  }
}

.marquee p, .marquee a {
  line-height: 7.5vw;
  font-size: 102px;
  font-family: RenaGrotesk-Extended, sans-serif;
}

@media (max-width: 768px) {
  .marquee p, .marquee a {
    font-size: 1rem;
    line-height: 1.42rem;
    letter-spacing: 0rem;
  }
}

.intro-quote p, .intro-nav *, .i-intro *, #nav > ul > li > a, .question-title * {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
}

@media (max-width: 768px) {
  .intro-quote p, .intro-nav *, .i-intro *, #nav > ul > li > a, .question-title * {
    font-size: 1rem;
    line-height: 1.42rem;
    letter-spacing: 0rem;
  }
}

em, .extended, .active {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  /* word-break (may look odd) */
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 5;
  -ms-hyphenate-limit-chars: auto 5;
  hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 3;
  -ms-hyphenate-limit-lines: 3;
  hyphenate-limit-lines: 3;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

/* GENERAL & RESETING ========================================================================== */
html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  /* word-break (may look odd) */
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 5;
  -ms-hyphenate-limit-chars: auto 5;
  hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 3;
  -ms-hyphenate-limit-lines: 3;
  hyphenate-limit-lines: 3;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
}

html, body {
  font-size: 19px;
  line-height: 27px;
}

body {
  color: #000;
}

ol, ul, li {
  list-style: none;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:hover, a:active, a.active {
  font-family: RenaGrotesk-Extended, sans-serif;
}

a.a-intern::before {
  content: "\2192";
}

a.a-extern::after {
  content: "\2197";
}

a.a-intern:hover, a.a-extern:hover {
  /*border-bottom: 1px solid white;*/
  text-decoration: underline;
  font-family: RenaGrotesk-Regular, sans-serif;
}

p {
  padding: 0px;
  margin: 0px;
  min-width: 100px;
  max-width: 1000px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

@media (max-width: 768px) {
  p {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

p::-moz-selection {
  color: #e3001f;
  background-color: transparent;
}

p::selection {
  color: #e3001f;
  background-color: transparent;
}

*::-moz-selection {
  color: black;
  background-color: transparent;
}

*::selection {
  color: black;
  background-color: transparent;
}

*:focus {
  outline: 0;
}

h1 {
  font-family: RenaGrotesk-Extended, sans-serif;
  hyphen: none;
  word-break: normal;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

table, tr, th, td, table ol, table li {
  min-width: 1.4em;
  vertical-align: top;
  border-collapse: collapse;
  /*white-space: nowrap;*/
  overflow: visible;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* TITLE BANNER / MARQUEE ========================================================================== */
.marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: block;
  width: 100vh;
  height: 10vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #e3001f;
  transform-origin: 0% 100%;
  transform: rotate(270deg) translate(0, 100vh);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .marquee {
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: none;
    padding: 0;
  }
}

.marquee p {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  transform: translateX(0%);
  /* starting position */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@media (max-width: 768px) {
  .marquee p {
    display: block;
    padding: 2vh 2vw 2vh 2vw;
    position: relative;
    text-align: left;
    transform: none;
    /* starting position */
  }
}

@media (max-width: 768px) {
  .marquee a {
    padding: 2vh 2vw;
  }
}

/* SEPARATOR ========================================================================== */
#separator {
  width: 200vw;
  height: 200vh;
  padding: 0vh 55vw;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  top: -50vh;
  left: -50vw;
  z-index: 200;
  display: block;
  cursor: pointer;
}

#separator.hidden {
  display: none;
}

/* CLOSE AND OPEN ICONS ========================================================================== */
a.key-icon {
  text-align: center;
  font-size: 30px;
  line-height: 33px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  font-family: RenaGrotesk-Regular, sans-serif;
  display: none;
  /* inserts glyph before anchor" */
}

@media (max-width: 768px) {
  a.key-icon {
    font-size: 1rem;
    line-height: 1.42rem;
    letter-spacing: 0rem;
    display: block;
  }
}

a.key-icon::after {
  content: "​\E000";
}

a.key-icon.active::after {
  content: "\E001";
}

/* inserts glyph before anchor" */
#separator a.key-icon {
  width: 5vw;
  padding: 0 1vw;
  margin: auto;
  visibility: hidden;
  display: block;
}

@media (max-width: 768px) {
  #separator a.key-icon {
    visibility: visible;
    position: relative;
    padding: 3vw;
  }
}

#separator:hover a.key-icon {
  visibility: visible;
}

#nav a.key-icon {
  margin-right: 0px;
  right: 0;
  top: 15px;
  margin-top: -15px;
  z-index: 110;
  display: none;
}

@media (max-width: 768px) {
  #nav a.key-icon {
    display: block;
  }
}

#nav li:hover a.key-icon, *:hover > a.key-icon {
  display: block;
}

.topic-title a.key-icon, .question-title a.key-icon {
  margin-right: 1vw;
  right: 0;
}

/* OVERLAYS ========================================================================== */
.overlay {
  display: block;
  /* change to block later */
  width: 90vw;
  height: 100vh;
  background: #e3001f;
  margin: 0 0 1rem 0;
  padding: 0 10vw 0 2vw;
  position: fixed;
  left: 10vw;
  top: 0;
  z-index: 300;
  color: #fff;
  overflow-y: scroll;
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 768px) {
  .overlay {
    display: block;
    /* change to block later */
    height: auto;
    min-height: 50vh;
    width: 100vw;
    padding: 10vh 2vw 2vh 2vw;
    margin: 0 0 0 0;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.overlay.hidden {
  left: 100vw;
}

@media (max-width: 768px) {
  .overlay.hidden {
    overflow: hidden;
    bottom: 100vh;
    left: auto;
    top: auto;
    right: auto;
  }
}

.overlay a {
  color: #fff;
}

.overlay *::-moz-selection {
  color: black;
  background-color: transparent;
}

.overlay *::selection {
  color: black;
  background-color: transparent;
}

.intro-container {
  z-index: 330;
}

.about-container {
  z-index: 320;
  background: grey;
}

.interview-container {
  z-index: 310;
}

#intro-content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#interview-content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#about-content h1, #interview-content h1 {
  margin-bottom: 50px;
}

#about-content, #interview-content, #about-imprint {
  max-width: 48vw;
  margin-bottom: 25vh;
}

@media (max-width: 768px) {
  #about-content, #interview-content, #about-imprint {
    width: auto;
    max-width: none;
  }
}

/* INTRO ========================================================================== */
.intro-quote h1::after {
  content: "\00AB";
  /* inserts glyph before anchor" */
}

.intro-quote h1::before {
  content: "\00BB";
  /* inserts glyph before anchor" */
}

.intro-quote p {
  margin-top: 1rem;
}

.intro-nav {
  position: relative;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .intro-nav {
    display: none;
  }
}

.intro-nav li {
  margin-top: 18px;
}

.intro-nav.sticky {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  max-width: 70vw;
}

@media (max-width: 768px) {
  .intro-nav.sticky {
    width: auto;
    max-width: none;
  }
}

.intro-nav a::before, a.interviewee-title::before {
  content: "\2192";
  /* inserts rightwards arrow before anchor" */
}

/* ABOUT ========================================================================== */
.network-list {
  margin: 0 0 0 0;
  padding: 0 0 4vh 0;
}

.network-list li {
  margin-top: 27px;
}

.about-container h2 {
  margin-top: 46px;
  font-family: RenaGrotesk-Extended, sans-serif;
}

/* INTERVIEW ========================================================================== */
.i-answer {
  margin-bottom: 1rem;
}

.i-intro {
  margin-bottom: 110px;
}

.i-question p {
  font-family: RenaGrotesk-Extended, sans-serif;
  display: inline;
  /* "inline"= vorfrage und frage stehen direkt hintereinander */
}

/* MAIN LAYER: LAYOUT ========================================================================== */
.flex-container {
  width: 100vw;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
}

.flex-item {
  display: block;
  /*flex: 0 1 100px;*/
  border: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#nav-frame.flex-item {
  width: 20vw;
  min-width: 225px;
  max-width: 1000px;
  z-index: 100;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  #nav-frame.flex-item {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    max-width: none;
  }
}

#content-frame.flex-item {
  width: 80vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 90;
}

@media (max-width: 768px) {
  #content-frame.flex-item {
    width: 100vw;
    z-index: 90;
    padding: 10vh 0 0 0;
  }
}

#content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

/* MAIN LAYER: NAVIGATION ========================================================================== */
.nav {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 45vw;
  /* must be wider to hide scrollbar */
  padding: 0px 11vw 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100vh;
  /*overflow: hidden;*/
  overflow: auto;
}

@media (max-width: 768px) {
  .nav {
    height: auto;
    width: auto;
    padding: 10vh 0 0 0;
    margin: 0px;
    background: grey;
  }
}

.nav * {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav > ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.nav > ul > li {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 7px 0px;
  position: relative;
  display: block;
  width: 19vw;
  min-width: 220px;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .nav > ul > li {
    margin: 0px;
    padding: 2vh 2vw;
    width: auto;
    max-width: none;
  }
}

.nav > ul > li.nav-topics {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .nav > ul > li.nav-topics {
    margin: 0px;
    display: none;
  }
}

.nav > ul > li.nav-spacer {
  margin-top: -280px;
  margin-bottom: 100vh;
}

@media (max-width: 768px) {
  .nav > ul > li.nav-spacer {
    margin: 0px;
    padding: 0px;
    display: none;
  }
}

.nav-mode .nav > ul > li.nav-spacer {
  margin-top: 0px;
  margin-bottom: 0vh;
}

.nav > ul > li > a {
  padding-bottom: 12px;
}

.nav > ul a {
  padding: 0 0 0 .6em;
  margin: 0px 0px 0px 0px;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav > ul a {
    margin: 0px;
    padding: 0px;
  }
}

/* NAV-MODE ========================================================================== */
.nav-mode .nav {
  overflow: auto;
}

.nav-mode #nav-frame {
  width: auto;
}

.nav-mode #nav-frame > #nav > ul > li {
  width: 35vw;
  min-width: 220px;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .nav-mode #nav-frame > #nav > ul > li {
    margin: 0px;
    padding: 0px;
    width: auto;
  }
}

.nav-mode .nav > ul > li.nav-spacer {
  height: 0vh;
}

.nav-mode .nav > ul > li.nav-about {
  margin-top: 0px;
}

/* === NAV-SUB === */
.sub {
  display: block;
  position: relative;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: visible;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .sub {
    width: auto;
    max-width: none;
  }
}

.sub * {
  max-width: 35vw;
}

@media (max-width: 768px) {
  .sub * {
    width: auto;
    max-width: none;
  }
}

.sub ul, .sub li, .sub a {
  display: block;
}

.sub > ul {
  padding: 12px 0 0 2vw;
  overflow-x: visible;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  width: 34vw;
}

@media (max-width: 768px) {
  .sub > ul {
    width: auto;
    max-width: none;
  }
}

.sub > ul > li {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 17px 2vw;
  display: block;
  position: relative;
  min-width: 27px;
  width: 31vw;
}

@media (max-width: 768px) {
  .sub > ul > li {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.sub .register-mark {
  width: 2vw;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 768px) {
  .sub .register-mark {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.sub .register-mark + li {
  /*margin-left: 0px;*/
  margin-top: -27px;
}

.sub a {
  max-width: 82%;
}

@media (max-width: 768px) {
  .sub a {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.sub a:hover {
  max-width: 100%;
  font-family: RenaGrotesk-Extended, sans-serif;
}

@media (max-width: 768px) {
  .sub a:hover {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

/* MAIN LAYER: CONTENT ========================================================================== */
#content {
  width: 80vw;
  padding: 0px 10vw 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 768px) {
  #content {
    width: 100vw;
    padding: 0px 0px 0px;
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.topic-list {
  padding: 0px 0px 50vh 0px;
  margin: 0px 0px 0px 0px;
}

.topic-item {
  /*padding: 13px 0px 0px 0px;*/
  margin: 0px 0px 0px 0px;
}

.topic-item.active + .topic-item {
  padding-top: 13px;
  margin: 0px 0px 0px 0px;
}

.topic-title, .question-title {
  display: block;
  position: relative;
  white-space: normal;
  background: #fff;
  cursor: pointer;
  padding-right: 42px;
}

@media (max-width: 768px) {
  .topic-title, .question-title {
    padding: 2vh 2vw;
  }
}

.topic-title {
  padding-top: 42px;
  padding-bottom: 22px;
}

.question-list, .answer-list {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  width: 100%;
}

@media (max-width: 768px) {
  .question-list, .answer-list {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.question-list {
  padding: 13px 0px 17px 0px;
  margin: 0px 0px 0px 0px;
}

.question-item {
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.question-item.active + .question-item {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.question-title {
  padding: 5px 0px 12px 0px;
  margin: 0px 0px 0px 0px;
}

.question-title a:first-child {
  max-width: 53vw;
  display: block;
}

@media (max-width: 768px) {
  .question-title a:first-child {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.question-title a:first-child:hover, .question-title a:first-child.active {
  max-width: 66vw;
}

@media (max-width: 768px) {
  .question-title a:first-child:hover, .question-title a:first-child.active {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.answer-list {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

li.question-item:last-child .answer-list {
  border-bottom: 0px;
}

.answer-item {
  margin: 33px 0px 0px 0px;
  width: 50vw;
  min-width: 480px;
  max-width: 700px;
}

@media (max-width: 768px) {
  .answer-item {
    padding: 2vh 2vw;
    margin: 0 0 0 0;
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.answer-item:last-of-type {
  margin-bottom: 49px;
}

a.interviewee-title {
  /*display: inline-block;*/
  margin: 0px 0px 0px 0px;
  font-family: RenaGrotesk-Extended, sans-serif;
}

/* STICKINESS MAIN WRAPPER AND NAV WRAPPER ========================================================================== */
.topic-item.active > .topic-title, .question-item.active > .question-title, #questions-button.active, #interviews-button.active {
  border-bottom: 1px solid #000;
  margin-bottom: -1px;
  background: #fff;
  /* STICKY-CODE */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

@media (max-width: 768px) {
  .topic-item.active > .topic-title, .question-item.active > .question-title, #questions-button.active, #interviews-button.active {
    position: relative;
    top: auto;
  }
}

.topic-item.active > .topic-title {
  /* STICKY-CODE */
  top: 0px;
  z-index: 20;
}

@media (max-width: 768px) {
  .topic-item.active > .topic-title {
    position: relative;
    top: auto;
  }
}

.question-item.active > .question-title {
  border-bottom: 1px solid #000;
  /* STICKY-CODE */
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  z-index: 10;
}

@media (max-width: 768px) {
  .question-item.active > .question-title {
    position: relative;
    top: auto;
  }
}

/* STICKINESS NAV WRAPPER ========================================================================== */
.nav-switch.active.sticky {
  position: fixed;
  width: 35vw;
  left: 0;
  top: 0;
  border-top: 0;
  border-bottom: 1px solid #000;
  /*
    z-index: 100;
    border-top: 0;
    */
}

@media (max-width: 768px) {
  .nav-switch.active.sticky {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

/* TESTING CLASS ========================================================================== */
.debug {
  /* for testing only */
  background: green;
  color: red;
}

/* ASIDE INFO AND PREVIEW CONTAINER ========================================================================== */
.aside-info, .preview {
  display: block;
  position: fixed;
  top: 0;
  left: 64vw;
  z-index: 100;
  width: 24vw;
  min-width: 120px;
  max-width: 600px;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .aside-info, .preview {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: none;
    max-width: none;
    height: auto;
    overflow: visible;
  }
}

.aside-info figure, .preview figure {
  width: 30vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 19px 6vw 0 0;
}

@media (max-width: 768px) {
  .aside-info figure, .preview figure {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.aside-info figure > *:last-child, .preview figure > *:last-child {
  padding-bottom: 1rem;
}

.aside-info .aside-image, .preview .aside-image {
  max-width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .aside-info .aside-image, .preview .aside-image {
    overflow: hidden;
    margin-left: -2vw;
    max-height: 50vh;
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.aside-info .aside-image img, .preview .aside-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .aside-info .aside-image img, .preview .aside-image img {
    width: auto;
    min-width: none;
    max-width: none;
  }
}

.aside-info li:first-child, .aside-info li:last-child, .preview li:first-child, .preview li:last-child {
  margin-top: 1rem;
}

.preview figure {
  display: none;
}

.hidden .aside-info {
  display: none;
}

/* SCROLLBAR ========================================================================== */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
