@charset "UTF-8";
/* FONTS ========================================================================== */
@font-face {
  font-family: 'RenaGrotesk-Regular';
  src: url("../fonts/RenaGrotesk-Regular.woff");
  src: url("../fonts/RenaGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'RenaGrotesk-Extended';
  src: url("../fonts/RenaGrotesk-Extended.woff");
  src: url("../fonts/RenaGrotesk-Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* VARIABLES ========================================================================== */
/* Colors */
/* Breakpoints */
/* Fonts */
/* MIXINS ========================================================================== */
/* GENERAL & RESETING ========================================================================== */
html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  color: #000;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0rem;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

a:hover, a:active, a.active {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

a.a-intern::before {
  content: "\2192";
}

a.a-extern::after {
  content: "\2197";
}

a.a-intern:hover, a.a-extern:hover {
  /*border-bottom: 1px solid white;*/
  text-decoration: underline;
  font-family: RenaGrotesk-Regular, sans-serif;
}

p {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0rem;
  padding: 0px;
  margin: 0px;
  min-width: 100px;
  max-width: 1000px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

@media (max-width: 768px) {
  p {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

@media (max-width: 768px) {
  p {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

p::-moz-selection {
  color: #e3001f;
  background-color: transparent;
}

p::selection {
  color: #e3001f;
  background-color: transparent;
}

*::-moz-selection {
  color: #000;
  background-color: transparent;
}

*::selection {
  color: #000;
  background-color: transparent;
}

*:focus {
  outline: 0;
}

table,
tr,
th,
td,
table ol,
table li {
  min-width: 1.4rem;
  vertical-align: top;
  border-collapse: collapse;
  /*white-space: nowrap;*/
  overflow: visible;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
  padding: 0;
}

/* SUPER HELPERS ========================================================================== */
.hidden {
  display: none;
}

.active > a.key-icon {
  display: block;
  visibility: visible;
}

.active > a.key-icon::after {
  content: "\E001";
}

.active > a {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

/* TYPOGRAPHIC ELEMENTS ========================================================================== */
h1,
h2 {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

@media (max-width: 768px) {
  h1,
  h2 {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-break: keep-all;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.012em;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  h1,
  h2 {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  h1,
  h2 {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

h1,
h1 * {
  font-size: 95px;
  line-height: 90px;
  letter-spacing: -0.04em;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  h1,
  h1 * {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-break: keep-all;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.012em;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  h1,
  h1 * {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  h1,
  h1 * {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

h2 {
  margin-top: 115px;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

em,
.extended,
.active {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

/* TITLE BANNER / MARQUEE ========================================================================== */
.marquee {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 400;
  display: block;
  width: 100vh;
  height: 10vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #e3001f;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotate(270deg) translate(0, 100vh);
  transform: rotate(270deg) translate(0, 100vh);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .marquee {
    display: none;
  }
}

.marquee p {
  line-height: 7.5vw;
  font-size: 102px;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  transform: translateX(0%);
  /* starting position */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/* SEPARATOR ========================================================================== */
#separator {
  cursor: pointer;
  width: 200vw;
  height: 200vh;
  padding: 50vh 50vw;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  top: -50vh;
  left: -50vw;
  z-index: 200;
  display: block;
}

#separator.hidden {
  display: none;
}

#separator a.key-icon {
  width: 10vw;
  /*padding: 0 1vw;
      margin: auto;*/
}

@media (max-width: 768px) {
  #separator a.key-icon {
    visibility: visible;
    position: relative;
    padding: 3vw;
  }
}

/* CLOSE AND OPEN ICONS ========================================================================== */
a.key-icon {
  text-align: center;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  a.key-icon {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  a.key-icon {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  a.key-icon {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-break: keep-all;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.012em;
    display: block;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  a.key-icon {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  a.key-icon {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

a.key-icon::after {
  content: "​\E000";
}

a.key-icon.active {
  display: block;
  visibility: visible;
}

a.key-icon.active::after {
  content: "\E001";
}

*:hover > a.key-icon {
  visibility: visible;
  display: block;
}

/* OVERLAYS ========================================================================== */
.overlay {
  display: block;
  /* change to block later */
  width: 90vw;
  height: 100vh;
  background: #e3001f;
  margin: 0 0 1rem 0;
  padding: 0 10vw 0 2vw;
  position: fixed;
  left: 10vw;
  top: 0;
  z-index: 300;
  color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .overlay {
    -webkit-overflow-scrolling: touch;
    display: block;
    /* change to block later */
    min-height: 75vh;
    height: auto;
    max-height: 100vh;
    width: 100vw;
    padding: 16vw 2vw 16vw 2vw;
    margin: 0 0 0 0;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.overlay.hidden {
  left: 100vw;
}

@media (max-width: 768px) {
  .overlay.hidden {
    overflow: hidden;
    bottom: 200vh;
    left: auto;
    top: auto;
    right: auto;
  }
}

.overlay a {
  color: #fff;
}

.intro-container {
  z-index: 330;
}

.about-container,
.interview-container {
  padding-right: 40vw;
}

@media (max-width: 768px) {
  .about-container,
  .interview-container {
    padding: 16vw 2vw 2vw 2vw;
  }
}

.about-container > *:last-child,
.interview-container > *:last-child {
  margin-bottom: 25vh;
}

.about-container h1,
.interview-container h1 {
  margin-bottom: 50px;
}

.about-container {
  z-index: 320;
  background: grey;
}

.interview-container {
  z-index: 310;
}

/* INTRO ========================================================================== */
.intro-quote h1::after {
  content: "\00AB";
  /* inserts glyph after anchor" */
}

.intro-quote h1::before {
  content: "\00BB";
  /* inserts glyph before anchor" */
}

.intro-quote p {
  margin-top: 1rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
}

@media (max-width: 768px) {
  .intro-quote p {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .intro-quote p {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .intro-quote p {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .intro-quote p {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

.intro-nav {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 35px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
}

@media (max-width: 768px) {
  .intro-nav {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .intro-nav {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .intro-nav {
    display: none;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .intro-nav {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

.intro-nav li {
  margin-top: 18px;
}

.intro-nav.sticky {
  position: absolute;
  bottom: 0;
  max-width: 70vw;
}

.intro-nav a::before,
a.interviewee-title::before {
  content: "\2192";
  /* inserts rightwards arrow before anchor" */
}

/* ABOUT ========================================================================== */
.network-list {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.network-list li {
  margin-top: 27px;
}

/* INTERVIEW ========================================================================== */
.i-answer {
  margin-bottom: 1rem;
}

.i-intro {
  margin-bottom: 110px;
}

.i-intro p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
}

@media (max-width: 768px) {
  .i-intro p {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .i-intro p {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

.i-question p {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
  display: inline;
  /* "inline"= vorfrage und frage stehen direkt hintereinander */
}

/* MAIN LAYER: LAYOUT ========================================================================== */
/*
.flex-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    overflow-x: hidden;
}
*/
/*.flex-item,*/
.topics-container, .nav-container {
  background: #fff;
  display: block;
  border: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: auto;
  max-height: 100vh;
  width: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .topics-container, .nav-container {
    padding: 16vw 0 0 0;
  }
}

/* MAIN LAYER: NAVIGATION ========================================================================== */
.nav-container {
  width: 20vw;
  min-width: 225px;
  z-index: 100;
  /* code for the "no-flex" solution */
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .nav-container {
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    background: grey;
    z-index: 400;
    position: absolute;
    max-height: 100vh;
  }
}

@media (max-width: 768px) {
  .nav-container.hidden {
    top: -16vw;
  }
}

.nav-container, .nav-container * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-container ul.nav {
  width: 45vw;
  /* must be wider to hide scrollbar */
  padding: 0px 11vw 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
  .nav-container ul.nav {
    width: auto;
    padding: 0;
    height: 16vw;
  }
}

.nav-container ul.nav.open {
  height: auto;
  padding-bottom: 2vw;
}

.nav-container ul.nav li {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 7px 0px;
  position: relative;
  display: block;
  width: 19vw;
  min-width: 220px;
  max-width: 1000px;
  /* === NAV-SUB START === */
  /* === NAV-SUB END === */
}

@media (max-width: 768px) {
  .nav-container ul.nav li {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    min-width: 0;
    max-width: none;
  }
}

.nav-container ul.nav li.nav-mobile-header {
  margin: 0;
  padding: 0;
  display: none;
  background: #e3001f;
}

@media (max-width: 768px) {
  .nav-container ul.nav li.nav-mobile-header {
    display: block;
  }
}

.nav-container ul.nav li #topics-button {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .nav-container ul.nav li #topics-button {
    display: none;
  }
}

.nav-container ul.nav li #questions-button.active,
.nav-container ul.nav li #interviews-button.active {
  border-bottom: 1px solid #000;
  margin-bottom: -1px;
  background: #fff;
  /* STICKY-CODE */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .nav-container ul.nav li #questions-button.active,
  .nav-container ul.nav li #interviews-button.active {
    position: relative;
    top: auto;
    background: grey;
  }
}

.nav-container ul.nav li #language-button {
  text-transform: uppercase;
}

.nav-container ul.nav li .nav-button {
  display: block;
}

.nav-container ul.nav li .nav-button.active a, .nav-container ul.nav li .nav-button:hover a {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

.nav-container ul.nav li .nav-button.active a.key-icon, .nav-container ul.nav li .nav-button:hover a.key-icon {
  display: block;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .nav-button.active a.key-icon, .nav-container ul.nav li .nav-button:hover a.key-icon {
    display: none;
  }
}

.nav-container ul.nav li .nav-button a.key-icon {
  padding: 0;
  margin-right: 0px;
  right: 0;
  top: 15px;
  margin-top: -15px;
  z-index: 110;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .nav-button a.key-icon {
    /*display:block;*/
    display: none;
  }
}

.nav-container ul.nav li .nav-button a.button-title {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
  padding: 0 0 12px .6em;
  margin: 0px 0px 0px 0px;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .nav-button a.button-title {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .nav-container ul.nav li .nav-button a.button-title {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .nav-container ul.nav li .nav-button a.button-title {
    margin: 0px;
    padding: 0 2vw;
    height: 16vw;
  }
}

.nav-container ul.nav li .sub {
  display: none;
  position: relative;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: visible;
  width: 100%;
  height: auto;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub {
    width: auto;
    max-width: none;
  }
}

.nav-container ul.nav li .sub * {
  max-width: 35vw;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub * {
    width: auto;
    max-width: 100vw;
  }
}

.nav-container ul.nav li .sub a {
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  /*
          max-width: 82%;
          */
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub a {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub a {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.nav-container ul.nav li .sub > ul {
  padding: 12px 0 0 2vw;
  overflow-x: visible;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  width: 34vw;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul {
    padding: 0;
    width: 100%;
    max-width: none;
  }
}

.nav-container ul.nav li .sub > ul > li {
  -webkit-transition: padding 0s linear;
  -moz-transition: padding 0s linear;
  -o-transition: padding 0s linear;
  transition: padding 0s linear;
  padding: 0px 18% 0px 0px;
  margin: 0px 0px 17px 2vw;
  display: block;
  position: relative;
  min-width: 27px;
  width: 31vw;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul > li {
    width: 100vw;
    min-width: 0;
    max-width: none;
    padding: 2vw 7vw 2vw 4vw;
    margin: 0;
  }
}

.nav-container ul.nav li .sub > ul > li:hover {
  padding: 0;
}

.nav-container ul.nav li .sub > ul > li:hover a {
  max-width: 100%;
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul > li:hover a {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.nav-container ul.nav li .sub > ul > li:hover::before {
  content: "\2192";
  position: absolute;
  left: -4vw;
  background: white;
  width: 4vw;
  text-align: center;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul > li:hover::before {
    content: "";
    display: none;
  }
}

.nav-container ul.nav li .sub > ul > li.register-mark {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul > li.register-mark {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2vw 7vw 2vw 4vw;
    margin: 0;
  }
}

.nav-container ul.nav li .sub > ul > li.register-mark::before {
  content: "";
  display: none;
}

.nav-container ul.nav li .sub > ul > li.register-mark + li {
  margin-top: -27px;
}

@media (max-width: 768px) {
  .nav-container ul.nav li .sub > ul > li.register-mark + li {
    margin-top: 0;
  }
}

.nav-container ul.nav li.nav-spacer {
  margin-top: -280px;
  margin-bottom: 100vh;
  height: 0;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

@media (max-width: 768px) {
  .nav-container ul.nav li.nav-spacer {
    display: none;
  }
}

/* NAV-MODE ======================================================================================= */
.nav-mode .topics-container {
  /* code for the "no-flex" solution */
  margin: 0 0 0 36vw;
}

@media (max-width: 768px) {
  .nav-mode .topics-container {
    margin: 0;
  }
}

.nav-mode .nav-container {
  width: 35vw;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .nav-mode .nav-container {
    width: auto;
  }
}

.nav-mode .nav-container ul.nav {
  width: 100vw;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-mode .nav-container ul.nav {
    padding: 0 0 16vw 0;
  }
}

.nav-mode .nav-container ul.nav li {
  /*overflow: auto;*/
  width: 35vw;
  min-width: 220px;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .nav-mode .nav-container ul.nav li {
    margin: 0px;
    padding: 0px;
    width: auto;
    max-width: 100vw;
  }
}

.nav-mode .nav-container ul.nav li.nav-spacer {
  transition-delay: 0.7s;
  height: 0vh;
  margin: 0;
}

/* MAIN LAYER: CONTENT ========================================================================== */
/*#content,*/
.topics-container {
  position: relative;
  width: 80vw;
  z-index: 90;
  /* code for the "no-flex" solution */
  margin: 0 0 0 20vw;
  padding: 0 10vw 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* code for the "no-flex" solution */
  /*
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 80vw;
    padding: 0px 10vw 0px 0px;
    @include breakpoint(mobile) {
        padding: 0px 0px 0px;
        height: auto;
        width: auto;
        min-width: 0;
        max-width: none;
    }
    */
}

@media (max-width: 1125px) {
  .topics-container {
    margin: 0 0 0 225px;
    padding: 0 112px 0 0;
  }
}

@media (max-width: 768px) {
  .topics-container {
    width: 100vw;
    margin: 0;
    padding: 16vw 0 0 0;
  }
}

.topics-container ul.topic-list {
  padding: 0px 0px 50vh 0px;
}

.topics-container ul.topic-list .topic-item {
  /*padding: 13px 0px 0px 0px;*/
}

.topics-container ul.topic-list .topic-item .topic-title,
.topics-container ul.topic-list .topic-item .question-title {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  display: block;
  position: relative;
  white-space: normal;
  background: #fff;
  cursor: pointer;
  padding-right: 42px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title,
  .topics-container ul.topic-list .topic-item .question-title {
    padding: 0;
  }
}

.topics-container ul.topic-list .topic-item .topic-title.active,
.topics-container ul.topic-list .topic-item .question-title.active {
  border-bottom: 1px solid #000;
  margin-bottom: -1px;
  background: #fff;
  /* STICKY-CODE */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title.active,
  .topics-container ul.topic-list .topic-item .question-title.active {
    /*
            position: relative;
            top: auto;
            background: $color2;
            */
  }
}

.topics-container ul.topic-list .topic-item .topic-title a,
.topics-container ul.topic-list .topic-item .question-title a {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a,
  .topics-container ul.topic-list .topic-item .question-title a {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.topics-container ul.topic-list .topic-item .topic-title a:first-child,
.topics-container ul.topic-list .topic-item .question-title a:first-child {
  /*display: block;*/
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child,
  .topics-container ul.topic-list .topic-item .question-title a:first-child {
    /*padding: 0 7vw 0 4vw;*/
    padding: 2vw 7vw 2vw 4vw;
  }
}

.topics-container ul.topic-list .topic-item .topic-title a.key-icon,
.topics-container ul.topic-list .topic-item .question-title a.key-icon {
  margin-right: 1vw;
  right: 0;
  /*display:none;*/
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a.key-icon,
  .topics-container ul.topic-list .topic-item .question-title a.key-icon {
    display: none;
  }
}

.topics-container ul.topic-list .topic-item .topic-title:hover a,
.topics-container ul.topic-list .topic-item .topic-title.active a,
.topics-container ul.topic-list .topic-item .question-title:hover a,
.topics-container ul.topic-list .topic-item .question-title.active a {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title:hover a:first-child,
  .topics-container ul.topic-list .topic-item .topic-title.active a:first-child,
  .topics-container ul.topic-list .topic-item .question-title:hover a:first-child,
  .topics-container ul.topic-list .topic-item .question-title.active a:first-child {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.topics-container ul.topic-list .topic-item .topic-title {
  padding-top: 42px;
  padding-bottom: 22px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title {
    display: block;
    padding: 0;
  }
}

.topics-container ul.topic-list .topic-item .topic-title a:first-child {
  font-size: 95px;
  line-height: 90px;
  letter-spacing: -0.04em;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  line-height: 0px;
  padding-bottom: 2px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    word-break: keep-all;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.012em;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title a:first-child {
    display: block;
    padding: 2vw 7vw 2vw 4vw;
  }
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .topic-title.active {
    position: relative;
    top: auto;
  }
}

.topics-container ul.topic-list .topic-item .question-list,
.topics-container ul.topic-list .topic-item .answer-list {
  padding: 0;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.topics-container ul.topic-list .topic-item .question-list {
  padding: 13px 0px 17px 0px;
  width: 100%;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item {
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.topics-container ul.topic-list .topic-item .question-list .question-item:last-child .answer-list {
  border-bottom: 0px;
}

.topics-container ul.topic-list .topic-item .question-list .question-item .question-title {
  padding: 5px 0px 12px 0px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title {
    padding: 0;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item .question-title.active {
  z-index: 90;
  top: 111px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title.active {
    top: 15vw;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item .question-title a:first-child {
  max-width: 53vw;
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.012em;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title a:first-child {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title a:first-child {
    /*
        font-size: 34px;
        line-height: 32px;
        */
    line-height: 14vw;
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title a:first-child {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title a:first-child {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0rem;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item .question-title:hover a:first-child,
.topics-container ul.topic-list .topic-item .question-list .question-item .question-title.active a:first-child {
  max-width: 66vw;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title:hover a:first-child,
  .topics-container ul.topic-list .topic-item .question-list .question-item .question-title.active a:first-child {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item .answer-list .answer-item {
  margin: 33px 0px 0px 0px;
  width: 60vw;
  min-width: 480px;
  max-width: 700px;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .answer-list .answer-item {
    /*padding: 2vh 2vw;*/
    padding: 2vw 7vw 2vw 4vw;
    margin: 0 0 0 0;
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item .answer-list .answer-item:last-of-type {
  margin-bottom: 49px;
}

.topics-container ul.topic-list .topic-item .question-list .question-item .answer-list .answer-item a.interviewee-title {
  font-family: RenaGrotesk-Regular, Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  /* improve text rendering */
  word-break: break-word;
  /* Non standard for WebKit */
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-chars: 8 3 3;
  -ms-hyphenate-limit-chars: auto 8 3 3;
  hyphenate-limit-chars: 8 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  /*text-rendering: optimizeLegibility;*/
  -webkit-text-size-adjust: 100%;
  font-family: RenaGrotesk-Extended, Helvetica, Arial, sans-serif;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .topics-container ul.topic-list .topic-item .question-list .question-item .answer-list .answer-item a.interviewee-title {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.topics-container ul.topic-list .topic-item .question-list .question-item.active + .question-item {
  padding: 20px 0px 0px 0px;
}

.topics-container ul.topic-list .topic-item.active + .topic-item {
  padding-top: 13px;
}

/* TESTING CLASS ========================================================================== */
.debug {
  /* for testing only */
  background: green;
  color: red;
}

/* ASIDE INFO AND PREVIEW CONTAINER ========================================================================== */
.preview {
  pointer-events: none;
}

.aside-info,
.preview {
  display: block;
  position: fixed;
  top: 0;
  left: 64vw;
  z-index: 100;
  width: 24vw;
  min-width: 120px;
  max-width: 600px;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .aside-info,
  .preview {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 0;
    max-width: none;
    height: auto;
    overflow: visible;
  }
}

.aside-info figure,
.preview figure {
  width: 30vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 19px 6vw 0 0;
}

@media (max-width: 768px) {
  .aside-info figure,
  .preview figure {
    width: auto;
    min-width: 0;
    max-width: none;
    height: auto;
  }
}

.aside-info figure > *:last-child,
.preview figure > *:last-child {
  padding-bottom: 1rem;
}

.aside-info .aside-image,
.preview .aside-image {
  max-width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0 0;
}

@media (max-width: 768px) {
  .aside-info .aside-image,
  .preview .aside-image {
    margin-left: -2vw;
    max-height: 50vh;
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.aside-info .aside-image img,
.preview .aside-image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .aside-info .aside-image img,
  .preview .aside-image img {
    width: auto;
    min-width: 0;
    max-width: none;
  }
}

.aside-info li:first-child,
.aside-info li:nth-child(4),
.aside-info li:last-child,
.preview li:first-child,
.preview li:nth-child(4),
.preview li:last-child {
  margin-top: 1rem;
}

.preview figure {
  display: none;
}

.hidden .aside-info {
  display: none;
}

/* SCROLLBAR ========================================================================== */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* MOBILE NAV HEADER ========================================================================== */
.nav-mobile-header,
.nav-mobile-header * {
  margin: 0;
  padding: 0;
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile-header,
  .nav-mobile-header * {
    display: block;
  }
}

.nav-mobile-icon {
  width: 5.4vw;
  height: 5.4vw;
  position: absolute;
  bottom: 4.5vw;
  right: 4vw;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-mobile-icon span {
  display: block;
  position: absolute;
  height: 0.9vw;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-mobile-icon span:nth-child(1) {
  top: 0vw;
}

.nav-mobile-icon span:nth-child(2),
.nav-mobile-icon span:nth-child(3) {
  top: 2.25vw;
}

.nav-mobile-icon span:nth-child(4) {
  top: 4.5vw;
}

.nav-mobile-icon.open span:nth-child(1) {
  top: 2.25vw;
  width: 0%;
  left: 50%;
}

.nav-mobile-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-mobile-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-mobile-icon.open span:nth-child(4) {
  top: 2.25vw;
  width: 0%;
  left: 50%;
}
